In [ ]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import seaborn as sea

pd.set_option('display.max_rows', None) #Allows for cell to contain maximum number of columns and rows. 
pd.set_option ('display.max_columns', None)

In [ ]:
df=pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv')

In [ ]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [ ]:
df['ocean_proximity'].value_counts()

<1H OCEAN     9136
INLAND        6551
NEAR OCEAN    2658
NEAR BAY      2290
ISLAND           5
Name: ocean_proximity, dtype: int64

In [ ]:
pd.__version__

'1.5.3'

In [ ]:
df.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [ ]:
df.nunique()

longitude               844
latitude                862
housing_median_age       52
total_rooms            5926
total_bedrooms         1923
population             3888
households             1815
median_income         12928
median_house_value     3842
ocean_proximity           5
dtype: int64

In [ ]:
df.total_bedrooms.mean().round(3)

537.871

In [ ]:
df['total_bedrooms']=df.total_bedrooms.fillna(537.871)

In [ ]:
df.total_bedrooms.mean().round(3)

537.871

In [ ]:
df=df[df['ocean_proximity'] == 'ISLAND']

In [ ]:
df=df[['housing_median_age', 'total_rooms', 'total_bedrooms']]

In [ ]:
X = df.values

In [ ]:
XTX = X.T.dot(X)

In [ ]:
XTX_INVERSE = np.linalg.inv(XTX)

In [ ]:
Y=np.array([950,1300,800,1000,1300])

In [ ]:
W = XTX_INVERSE.dot(X.T).dot(Y)

In [ ]:
last_element = W[-1]

In [ ]:
last_element

5.699229455065586